
/*
 * Google fonts
 */


/*=== Color Variable ===*/
@orange : #D95320 ;
@blue : #bd355a ;

/**
 * Typography
 */
html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}


body,
button,
input,
select,
textarea,
p   {
    font-family: 'Open Sans', sans-serif;
	color: #03251c;
    font-size: 15px;
     margin: 0 0 1em;
}
body {margin:0;}

a {   

}
h1 { font-size:36px; line-height:38px; }

.colour-white {
    color: #fff;
}
.navbar-default {background: @orange; border-width:0; border-radius:0;}

h4, .widget_em_calendar .widget-title { padding:20px 0; font-size:19px;}
.home-text { font-size:14px; line-height:21px; }

.navbar > .container { width:100%; padding:0;  }

/*
 * Button
 */


.btn-large {
a {
    
}
a:hover {
   
}
}

.btn-large2x a {
  
}

.btn-large3x a {
  
}


/*
 * Header
 */

.navbar-default {
   
}
.entry-header .entry-title { display:none; }


/*
 * Menu
 */


.navbar-default {background:;}

.navbar-default .navbar-nav>li>a {
color:#ffffff; text-transform: uppercase;
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle, { }
.navbar-default .navbar-toggle .icon-bar {  }




/*=== Home Slider ===*/


/*
 * Home Page
 */


/*
 * Footer top
 */
/*
 * Footer bottom
 */


/*
 * Responsive
 */


@media (min-width: 1000px) {
  
}


@media screen and (min-width: 768px) { 

}


@media screen and (min-width:768px) and (max-width:1199px) {
   

}
@media screen and (min-width:768px) and (max-width:992px) {
   

}

@media screen and ( max-width:992px ) { 

}

@media screen and (max-width:780px) {

}

@media screen and (max-width:767px) {

}
@media screen and (min-width:781px) and (max-width:991px) {
  

}

@media screen and (min-width:520px) and (max-width:780px) {


}

@media screen and (max-width:600px) {

}

@media screen and (max-width:480px) {

}