
/*
 * Google fonts
 */


/*=== Color Variable ===*/

/**
 * Typography
 */
html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

body,
button,
input,
select,
textarea,
p   {
    font-family: 'Open Sans', sans-serif;
	color: #03251c;
    font-size: 15px;
     margin: 0 0 1em;
}
a {
   
}


.colour-white {
    color: #fff;
}



/*
 * Button
 */

.btn-small a, .btn-small input {
    
}
.btn-small a:hover {
   
}

.btn-large {
a {
    
}
a:hover {
   
}
}

.btn-large2x a {
  
}



.btn-large3x a {
  
}


/*
 * Header
 */

.navbar-default {
    background:#1fa8d1; border:none;
}



/*
 * Menu
 */


.navbar-default {background:;}


.navbar-default .navbar-nav>li>a {
    font-family: 'miso-bold', serif;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: none;
    padding: 10px 9px;
    letter-spacing: 0.5;
}


@media (min-width: 768px) {
    .header-right {
        padding: 33px 0;
    }
    .header-btn {
        margin-top: 7px;
    }
}
.header_right .vsl-logo {
    margin-top: -8px;
    margin-left: 8px;
}



/*
 * Home Page
 */


 


/*== Woocommerce ==*/


/*
 * Footer top
 */




/*
 * Responsive
 */

/*
 * Menu
 */

@media screen and (min-width:768px) and (max-width:1199px) {
   

}
@media screen and (min-width:768px) and (max-width:991px) {
   

}
@media screen and (min-width:781px) {



}
@media screen and (max-width:780px) {
    

}
@media screen and (min-width:781px) and (max-width:991px) {
  

}
@media screen and (min-width:399px) and (max-width:767px) {
   

}
@media screen and (min-width:520px) and (max-width:780px) {


}
@media screen and (max-width:703px) {


}
@media screen and (max-width:398px) {


}
@media screen and (max-width:404px) {


}