// Variables
@import "variables";

h1 {
 color: #000;
}

/**
 * Typography
 */
html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

html body {
     overflow-x: hidden;
     
}

body,
button,
input,
select,
textarea,
p   {
    
    font-weight:normal;
    font-size: 18px;
    font-style: normal;
}